/* * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
} */

body {
  background-color: #eee !important;
}

.container {
  max-width: 1104px !important;
  width: calc(100% - 280px) !important;
  margin-left: 240px !important;
}

.cabecalho {
  display: flex !important;
  width: 100% !important;
  padding: 15px 14px !important;
  border-radius: 8px !important;
  margin-top: 12px !important;
  background-color: #fff !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 14px !important;
}

.cabecalho h1 {
  color: #4a5576 !important;
  font-weight: 700 !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 24px !important;
}

.cabecalho span img {
  width: 20px !important;
  height: 20px !important;
}

.box-processo {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  padding: 24px 70px !important;
  border-radius: 8px !important;
  background-color: #fff !important;
}

.box-processo .box-info-processo,
.box-info-processo-buttons,
.box-view-processo {
  width: 100% !important;
  display: flex !important;
  margin-bottom: 24px !important;
}

.box-info-processo div:nth-child(1),
.box-info-processo-buttons div:nth-child(1) {
  flex: 8 !important;
}

.box-info-processo div:nth-child(2),
.box-info-processo-buttons div:nth-child(2) {
  flex: 4 !important;
  padding: 0 10px !important;
}

.box-info-processo .box-yellow,
.box-info-processo .box-red {
  display: inline-block !important;
  width: 115px !important;
  height: 25px !important;
  text-align: center !important;
  padding: 0px 13px !important;
  margin-bottom: 10px !important;
  color: #fff !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
  border-radius: 18px !important;
}

.box-info-processo-buttons div:nth-child(1) {
  display: flex !important;
  gap: 8px !important;
}

.box-info-processo-buttons div:nth-child(1) a {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  padding: 7px 14px !important;
  background: #ffffff !important;
  color: #344767 !important;
  text-decoration: none !important;
}

.box-info-processo-buttons div:nth-child(1) a:focus {
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1), 1px 0px 3px rgba(0, 0, 0, 0.1),
    0px 4px 3px rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px !important;
}

.box-info-processo-buttons div:nth-child(1) a:focus svg {
  filter: brightness(0) saturate(100%) invert(68%) sepia(77%) saturate(2044%)
    hue-rotate(148deg) brightness(94%) contrast(91%) !important;
}

.box-info-processo-buttons .green-btn,
.box-info-processo-buttons .blue-btn {
  padding: 8px 22px !important;
  margin-left: 5px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  text-decoration: none !important;
  color: #fff !important;
}

.box-info-processo-buttons .green-btn svg,
.box-info-processo-buttons .blue-btn svg {
  margin-left: 5px !important;
  margin-bottom: -3px !important;
}

.box-info-processo .box-yellow {
  background-color: #fabe33 !important;
  margin-left: 27px !important;
}

.box-info-processo .box-red {
  background-color: #c10909 !important;
  margin-left: 13px !important;
}

.box-info-processo-buttons .green-btn {
  background-color: #04845e !important;
}

.box-info-processo-buttons .blue-btn {
  background-color: #17c1e8 !important;
}
.box-info-processo h4 {
  margin-bottom: 8px !important;
  font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: #4a5576 !important;
  line-height: 21px !important;
}

.box-info-processo p {
  font-family: "Inter", sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #4a5576 !important;
  line-height: 21px !important;
}

.box-info-processo p span {
  font-family: "Inter", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #4a5576 !important;
  line-height: 21px !important;
}

.box-view-processo {
  height: 285px !important;
  overflow-y: auto !important;
  flex-direction: column !important;
  font-family: "Inter", sans-serif !important;
}
.box-view-container {
  display: flex !important;
  margin-bottom: 8px !important;
  background-color: #8591a4 !important;
  border-radius: 8px !important;
}

.box-view-nome,
.box-processo-nome,
.box-documentos-nome {
  flex: 3 !important;
  background-color: #8591a4 !important;
  padding: 8px !important;
  border-radius: 8px !important;
}

.box-view-nome h3 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #fff !important;
}

.box-view-doc,
.box-processo-doc,
.box-documentos-doc {
  border: 1px solid #8591a4 !important;
  flex: 9 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: #ffffff !important;
  padding: 8px !important;
  color: #4a5576 !important;
  border-radius: 8px !important;
}

.box-view-doc a {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  color: #4a5576 !important;
  text-decoration: none !important;
}

/* Despachos */
.box-processo-nome {
  flex: 4 !important;
}
.box-processo-doc {
  flex: 8 !important;
}
.box-processo-nome h3 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #fff !important;
}

.box-processo-nome p {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 150% !important;
  color: #fff !important;
}

.box-processo-doc p {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-align: justify !important;
  line-height: 150% !important;
  color: #4a5576 !important;
}

/* Documentos */
.box-documentos-nome {
  flex: 6 !important;
}

.box-documentos-nome h3 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #fff !important;
}

.box-documentos-doc {
  flex: 4 !important;
  justify-content: flex-end !important;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}
