body {
  background-color: #f4f5f6;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}

.box-processo {
  padding: 5px 70px;
  border-radius: 8px;
  background-color: #fff;
}

.cabecalho {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  margin: 12px 0;
}

.title {
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #4a5576;
  font-size: 24px;
}

.icon-config {
  margin-top: 10px;
}

/* Infos-processo */
body > div > main > div.flex {
  margin-bottom: 20px;
}

body > div > main > div.flex > div.col-xs-8 > h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #4a5576;
}

body > div > main > div.flex > div.col-xs-8 > p:nth-child(2),
body > div > main > div.flex > div.col-xs-8 > p:nth-child(3),
body > div > main > div.flex > div.col-xs-8 > p:nth-child(4),
body > div > main > div.flex > div.col-xs-8 > p:nth-child(5) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #4a5576;
}

body > div > main > div.flex > div.col-xs-8 > p:nth-child(2) span,
body > div > main > div.flex > div.col-xs-8 > p:nth-child(3) span,
body > div > main > div.flex > div.col-xs-8 > p:nth-child(4) span,
body > div > main > div.flex > div.col-xs-8 > p:nth-child(5) span {
  font-weight: 400;
}

body > div > main > div:nth-child(1) > div.col-xs-4 > p:nth-child(1),
body > div > main > div:nth-child(1) > div.col-xs-4 > p:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #4a5576;
}

.box-yellow {
  background-color: #fabe33 !important;
  margin-left: 27px !important;
  color: #fff;
  padding: 5px 20px;
  border-radius: 18px;
}

.box-red {
  background-color: #c10909 !important;
  margin-left: 13px !important;
  padding: 5px 20px;
  border-radius: 18px;
  color: #fff;
}
/* Buttons */
body > div > main > div:nth-child(2) {
  align-items: center;
  margin-bottom: 20px;
}

body > div > main > div:nth-child(2) > div.col-xs-8 {
  display: flex;
  gap: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

body > div > main > div:nth-child(2) > div.col-xs-8 > a:nth-child(1),
body > div > main > div:nth-child(2) > div.col-xs-8 > a:nth-child(2),
body > div > main > div:nth-child(2) > div.col-xs-8 > a:nth-child(3) {
  border-radius: 8px;
  padding: 8px 22px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4a5576;
}

.anexo {
  background: #fff;
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1), 1px 0px 3px rgba(0, 0, 0, 0.1),
    0px 4px 3px rgba(0, 0, 0, 0.15);
}

.anexo::before,
.despacho::before,
.documento::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 3px;
}

.anexo::before {
  background-image: url("./../imgs/anexo.svg");
}
.despacho::before {
  background-image: url("./../imgs/despacho.svg");
}
.documento::before {
  background-image: url("./../imgs/documento.svg");
}

.anexo:focus::before,
.despacho:focus::before,
.documento:focus::before {
  filter: brightness(0) saturate(100%) invert(68%) sepia(77%) saturate(2044%)
    hue-rotate(148deg) brightness(94%) contrast(91%) !important;
}

body > div > main > div:nth-child(2) > div.col-xs-8 > a:focus {
  background: #ffffff;
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1), 1px 0px 3px rgba(0, 0, 0, 0.1),
    0px 4px 3px rgba(0, 0, 0, 0.15);
}

body > div > main > div:nth-child(2) > div.col-xs-4 {
  display: flex;
  gap: 8px;
}
.green-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #04845e !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.blue-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #17c1e8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.green-btn:hover,
.green-btn:active,
.green-btn:focus,
.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus {
  color: #fff;
}

/* Exibição conteúdo */

.box-view-processo {
  height: 285px;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
}

.box-view-container {
  align-items: center;
  margin-bottom: 8px;
  background-color: #8591a4;
  border-radius: 8px;
}

.box-view-nome h3,
.box-documentos-nome h3,
.box-processo-nome h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.box-view-doc,
.box-processo-doc,
.box-documentos-doc {
  border: 1px solid #8591a4;
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 8px;
  color: #4a5576;
  border-radius: 8px;
}

.box-view-doc a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #4a5576;
  text-decoration: none;
}

/* Despachos */
.box-processo-nome h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.box-processo-nome p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.box-processo-doc p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  line-height: 150%;
  color: #4a5576;
}

/* Documentos */
.box-documentos-nome h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.box-documentos-doc {
  justify-content: flex-end;
}

.box-view-doc p,
.box-processo-doc p,
.box-documentos-doc p {
  margin: 0;
}

/* Modal Emitir */
.title-modal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #4a5576;
}

.modal-content {
  background-color: #f4f5f6;
}

.modal-header {
  padding: 5px 15px;
  border-bottom: none;
}

.modal-footer-emitir {
  padding: 0 15px;
  border-top: none;
}

.title-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #4a5576;
}

/* Btn Forms */
.btn-cancel,
.btn-cancel:hover {
  padding: 8px 22px;
  gap: 8px;
  background: #c10909;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.btn-sucess,
.btn-sucess:hover {
  padding: 8px 22px;
  gap: 8px;
  background-color: #04845e;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
