* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  max-width: 1104px;
  width: calc(100% - 280px);
  margin-left: 240px;
}

.cabecalho {
  display: flex;
  width: 100%;
  padding: 15px 14px;
  border-radius: 8px;
  margin-top: 12px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.cabecalho h1 {
  color: #4a5576;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.cabecalho span img {
  width: 20px;
  height: 20px;
}

.box-processo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 70px;
  border-radius: 8px;
  background-color: #fff;
}

.box-processo .box-info-processo,
.box-info-processo-buttons,
.box-view-processo {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}

.box-info-processo div:nth-child(1),
.box-info-processo-buttons div:nth-child(1) {
  flex: 8;
}

.box-info-processo div:nth-child(2),
.box-info-processo-buttons div:nth-child(2) {
  flex: 4;
  padding: 0 10px;
}

.box-info-processo .box-yellow,
.box-info-processo .box-red {
  display: inline-block;
  width: 115px;
  height: 25px;
  text-align: center;
  padding: 0px 13px;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 18px;
}

.box-info-processo-buttons div:nth-child(1) {
  display: flex;
  gap: 8px;
}

.box-info-processo-buttons div:nth-child(1) a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 7px 14px;
  background: #ffffff;
  color: #344767;
  text-decoration: none;
}

.box-info-processo-buttons div:nth-child(1) a:hover {
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1), 1px 0px 3px rgba(0, 0, 0, 0.1),
    0px 4px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.box-info-processo-buttons div:nth-child(1) a:hover svg {
  filter: brightness(0) saturate(100%) invert(68%) sepia(77%) saturate(2044%)
    hue-rotate(148deg) brightness(94%) contrast(91%);
}

.box-info-processo-buttons .green-btn,
.box-info-processo-buttons .blue-btn {
  padding: 8px 22px;
  margin-left: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.box-info-processo-buttons .green-btn svg,
.box-info-processo-buttons .blue-btn svg {
  margin-left: 5px;
  margin-bottom: -3px;
}

.box-info-processo .box-yellow {
  background-color: #fabe33;
  margin-left: 27px;
}

.box-info-processo .box-red {
  background-color: #c10909;
  margin-left: 13px;
}

.box-info-processo-buttons .green-btn {
  background-color: #04845e;
}

.box-info-processo-buttons .blue-btn {
  background-color: #17c1e8;
}
.box-info-processo h4 {
  margin-bottom: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #4a5576;
  line-height: 21px;
}

.box-info-processo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #4a5576;
  line-height: 21px;
}

.box-info-processo p span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4a5576;
  line-height: 21px;
}

.box-view-processo {
  height: 285px;
  overflow-y: auto;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.box-view-container {
  display: flex;
  margin-bottom: 8px;
  background-color: #8591a4;
  border-radius: 8px;
}

.box-view-nome,
.box-processo-nome {
  flex: 3;
  background-color: #8591a4;
  padding: 8px;
  border-radius: 8px;
}

.box-view-nome h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.box-view-doc,
.box-processo-doc {
  border: 1px solid #8591a4;
  flex: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 8px;
  color: #4a5576;
  border-radius: 8px;
}

.box-view-doc a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #4a5576;
  text-decoration: none;
}

/* Despachos */
.box-processo-nome {
  flex: 4;
}
.box-processo-doc {
  flex: 8;
}
.box-processo-nome h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.box-processo-nome p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.box-processo-doc p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  line-height: 150%;
  color: #4a5576;
}
